@import "/sheets/site-colors.css";
.box{
	position: relative;
	margin: 40px auto auto;
	border-radius: 10px;
	border: 3px solid var(--primary-color);
	padding: 15px;
	width: 800px;
	height: 400px;
	overflow: hidden;
	background-color: var(--light-background-color);
}
.about{
	position: relative;
	margin: 40px auto auto;
	border-radius: 10px;
	border: 3px solid var(--secondary-color);
	padding: 15px;
	width: 800px;
	background-color: color-mix(in srgb,var(--secondary-color),#0000 90%);
}
.display{
	width: calc(100% - 304px);
}
.diagram{
	transform: scale(0.83) translateY(-73px);
}
#graph{
	display: block;
	margin: auto;
}
#colormatch{
	display: block;
	margin: auto;
}
.second-box{
	position: relative;
	margin: 40px auto auto;
	padding: 15px;
	width: 800px;
}
#rainbow{
	border-radius: 7px;
	border: 7px solid var(--accent-color);
	margin: -7px;
}
#gradient{
	border-radius: 7px;
	border: 7px solid var(--accent-color);
	margin: -7px;
}
.smollerbox{
	color-scheme: var(--color-scheme);
	position: absolute;
	right: 15px;
	top: 15px;

	border-radius: 10px;
	border: 2px solid var(--secondary-color);
	width: 300px;
	height: calc(100% - 34px);
	background-color: var(--primary-background-color);
}

.adjustable-list{
	display: block;
	position: relative;
	width: 300px;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.list-element{
	border-radius: 17px;
	border: 2px solid var(--accent-color);
	background-color: color-mix(in srgb,var(--primary-color),#0000 90%);
	height: auto;
	width: 240px;
	margin: 10px 28px 0;
}
.wavelen-label{
	display:inline-block;
	position: relative;
	overflow-wrap: break-word;
	margin: 6px 0 6px 24px;
	vertical-align: middle;
}
.wavelen{
	display:inline-block;
	width: 40%;
	height: 16px;
	vertical-align: middle;
	margin: 2px 12px;
}
.buttons{
	display: none;
	position: relative;
	border-radius: 10px;
	border: 0;
	cursor: pointer;
	width: 100px;	
	left: 29px;
	background: var(--secondary-color);
	text-align: center;
	margin: 5px 10px;
}
.disabled{
	opacity: 0.57;
	cursor: not-allowed;
}
div.list-element.focustip::after{
	display: none;
	content: '';
	position: absolute;
	top: 42px;
	left: -2px;
	border-radius: 17px;
	border: 2px solid var(--accent-color);
	background-color: color-mix(in srgb,var(--primary-color),#0000 90%);
	height: auto;
	width: 200px;
	padding: 2px 20px;
}
input.selector {
	position:absolute;
	width: 0;
	height: 0;
	border: 0 !important;
}
input.selector:focus-visible+div.list-element.focustip{
	margin-bottom: 90px;
}
input.selector:focus-visible+div.list-element.focustip::after{
	content: 'you can use up/down arrow keys to change the number of sources after highlighting the buttons';
	display: block;
}
input.selector:focus-visible+div+label,
input.selector:focus-visible+div+label+label{
	outline: 2px solid red;
}
input.selector:checked+div+label,
input.selector:checked+div+label+label{
	display: inline-block;
}
input.selector:checked+div ~ div{
	display: none;
}
.settings{
	position: relative;
	border-radius: 17px;
	background-color: color-mix(in srgb,var(--primary-color),#0000 60%);
	width: 80%;
	margin: auto;
	height: 80px;
}
select.setting{
	height: calc(1rem + 4px);
	border-radius: 4px;
	max-width: 90%;
	border: 1px solid var(--secondary-color);
	margin: 6px 0;
	text-align: center;
}
label.setting{
	display: block;
}
input[type="checkbox"]{
	margin-left: 10px;
	margin-right: 0.5em;
}
.experinments{
	display: none;
}
