@import "site-colors.css";
.navbar-wrapper{
	border-bottom: 1px solid var(--accent-color);
	margin: 0;
	padding: 0;
}
.navbar{
	box-sizing: border-box;
	border-radius: 23px;
	border: 3px solid color-mix(in srgb,var(--primary-color),#0000 23%);
	padding: 1px;
	width: clamp(200px, 80%, 1000px);
	margin: 0 auto 0;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
}
.navbar nav{
	margin: auto auto 0;
}
.navbar nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
}
.navbar nav ul li{
}
.navbar nav ul li a{
	display: block;
	padding: 0.5em 0.25em;
	margin: 0 0.25em;
	color: color-mix(in srgb,var(--text-color),#0000 23%);
	text-decoration: none;
	font-weight: bold;
	transition-duration: 100ms;
	transition-timing-function: ease-in-out;
}
.navbar nav ul li a.selected{
	background-color: color-mix(in srgb,var(--accent-color),#0000 87%);
	color: color-mix(in srgb,var(--text-color),#0000 0%);
}
.navbar nav ul li a:hover{
	background-color: color-mix(in srgb,var(--accent-color),#0000 73%);
}
.navbar nav ul li a:active{
	background-color: var(--accent-color);
	color: var(--opposite-text-color);
}
